{{ template "header" . }}
<h1>Task {{ .Task.ID }}: {{ .Task.Title }}の編集</h1>
<form action="/task/edit/{{ .Task.ID }}" method="POST" onsubmit="return confirm_update({{ .Task.ID }})">
    <ul>
        <li><label>Title    </label><input type="text" name="title" value="{{ .Task.Title }}" required></li>
        <li>
            <input type="radio" name="is_done" value="t" {{ if .Task.IsDone }}checked{{ end }}><label>完了</label>
            <input type="radio" name="is_done" value="f" {{ if not .Task.IsDone }}checked{{ end }}><label>未完了</label>
        </li>
        <li>
            <label>メッセージ</label>
            <textarea name="message">{{ .Task.Message }}</textarea>
        </li>
    </ul>

    <input type="submit" value="登録">
    <a href="/task/{{ .Task.ID }}"><button type="button">戻る</button></a>
</form>
{{ template "footer" }}