<!--タスクの一覧表示のページ-->
{{ template "header" . }}
<div class="DisplayBody1">
<header class="leftNavigation">
    <p>ユーザー情報</p>
    <p>登録タスク一覧</p>
</header>

<div class="content">
    {{ if not .Tasks }}
    <p>登録データがありません．</p>
    {{ else }}
    <table>
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>登録日</th>
            <th>状態</th>
        </tr>
    {{ range $task := .Tasks }}
        <tr>
            <td><a href="/task/{{ $task.ID }}" class="btn btn--circle btn--circle-c btn--shadow"><i class="fas fa-arrow-up"></i>{{ $task.ID }}</a></td>
            <td>{{ $task.Title }}</td>
            <td>{{ $task.CreatedAt }}</td>
            <td>{{ if $task.IsDone }}済{{ end }}</td>
        </tr>
    {{ end }}
    </table>
    {{ end }}
    <a href="/task/new" class="btn btn--orange btn--radius">+ 追加</a>
</div>

<div class="rightNavigation">
    <p>絞り込み検索</p>
    <form action="/list" method="GET" class="search_container">
        <p><input type="text" name="kw" value="{{ .Kw }}" placeholder="キーワード検索"></p>
        <p>状態: 
            <input type="radio" name="is_done" value="" {{ if eq .Is_done "" }}checked{{ end }}><label>選択なし</label>
            <br>
            <input type="radio" name="is_done" value="t" {{ if eq .Is_done "t" }}checked{{ end }}><label>完了</label>
            <br>
            <input type="radio" name="is_done" value="f" {{ if eq .Is_done "f" }}checked{{ end }}><label>未完了</label>
        </p>
        
        <input type="submit" value="検索">
    </form>
</div>

</div>

{{ template "footer" }}
