/* placeholder file for CSS */

/*ページ全体の構成*/
.DisplayBody1{
    display: flex;
    min-height: 100vh;
}
.leftNavigation{
    flex: 1;
    text-align: center;
    background-color: rgb(56, 56, 56);
    color: white;
}
.rightNavigation{
    text-align: center;
    padding: 0.5em 0.5em;
    margin: 0em 0.5em;
    color: #364e96;
    background: #ffffff;/*背景色*/
    border-top: solid 6px #364e96;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}
.content{
    flex: 2;
    background-color: rgba(238, 238, 238, 0);
    text-align: center;
    margin-left: 10px;
}

/*見出し等のレイアウト*/
h1 {
    color: #364e96;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px #364e96;/*上線*/
    border-bottom: solid 3px #364e96;/*下線*/
  }

  ul {
    padding: 0;
  }
  
  ul li, ol li {
    color: #404040;
    border-left: solid 6px #364e96;/*左側の線*/
    border-bottom: solid 2px #dadada;/*下に灰色線*/
    background: whitesmoke;
    margin-bottom: 5px;/*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important;/*ポチ消す*/
    font-weight: bold;
  }

  /*テーブルのレイアウト*/
  table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 0 15px -6px #00000073;
  }
  
  table tr{
    background-color: #fff;
  }
  
  table tr:last-child *{
    border-bottom: none;
  }
  
table th {
    text-align: center;
    background-color: #364e96;
    color: white;
    padding: 10px 0;
}

  table td{
    text-align: center;
    border-bottom: 1px solid rgb(187, 187, 187);
    color: black;
    padding: 10px 0;
  }

  table tr:hover{
    background-color: #d4faff;
  }


/*ボタン*/

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


.btn,
a.btn,
button.btn {
  font-size: 1rem;
  font-weight: 100;
  line-height: 0.5;
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

/*1. 追加ボタン*/
.btn--orange,
a.btn--orange {
  color: black;
  background-color: rgb(112, 153, 243);
}
.btn--orange:hover,
a.btn--orange:hover {
  color: black;
  background: #7fa6ee;
}

a.btn--radius {
   border-radius: 100vh;
}

/*2. IDボタン*/
a.btn--circle {
    width: 40px;
    height: 40px;
    padding: 0;
    background: #366b96;
    color: white;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  }
  
  a.btn--circle i {
    font-size: 100%;
    line-height: 50px;
    -webkit-transition: all .3s;
    transition: all .3s;
    letter-spacing: 0;
  }
  a.btn--circle:hover i {
    line-height: 40px;
    background: #526dbd;
  }

/*絞り込み*/
.search_container input[type="text"]{
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 3px;
  height: 2.2em;
  overflow: hidden;
}
.search_container input[type="text"]:focus {
  outline: 0;
  height: 2.0em;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  border: 1px solid #1dc1d6;
  border-radius: 30px;
  outline : none;
  width: 3em;
  height: 3em;
  display: inline-block;
  color: white;
  background-color: #364e96;
}

